on:
  push:
    paths:
      - 'frontend/**'
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy-website:
    name: Package frontend code and upload to S3 Bucket 
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read    
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Build website code
        working-directory: frontend
        run: |
          npm install 
          npm run build

      - name: Configure AWS Credentials
        id: aws
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::012633543873:role/GithubAdminAccess
          aws-region: us-east-1

      - name: Sync files to S3 Bucket
        run: aws s3 sync frontend/dist/ s3://niketrathod.com --delete

      - name: Invalidate Cloudfront cache
        run: aws cloudfront create-invalidation --distribution-id E34XNASCEYM453 --paths "/*"
